node_modules/
pnpm-lock.yaml
yarn.lock
package-lock.json

dist/
build/
.out/
.next/
.vite/

.env
.env.local
.env.development
.env.production
.env.test

npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
*.log

.DS_Store
Thumbs.db
.vscode/
.idea/
*.swp

.cache/
.eslintcache
*.pid
*.seed
*.pid.lock
turbo/
coverage/
*.tmp

uploads/
dump.sql
*.sqlite
*.sqlite3

*.tsbuildinfo

.vite/
.vitepress/

docker-compose.override.yml
*.dockerignore
